{%- if page_paths -%}
  
  {%- if page.layout != 'home' -%}
  <!--{% include toggle-menu.html %}-->
    <nav class="site-nav" id="site-nav-menu">
    <a href="javascript:void(0)" class="closebtn" id="close-sidebar-icon">&times;</a>
    {%- if site.parent_site.title -%}
      <div class="trigger">
        <a class="page-link" href="{{ site.parent_site.url }}">{{ site.parent_site.title }}</a>
      </div>
    {%- endif -%}
      <div class="trigger">
        {%- if site.terms.sizem!= 0 -%}
          Items
        {%- endif -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
            <div>
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>

      {%- if site.terms.size != 0 -%}
        <div>
          <a class="page-link" href="{{ 'term_index' | relative_url}}">Index</a>
        </div>

      {%- endif -%}
  
    </nav>
  {%- endif -%}
 
{%- endif -%}

