---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


.button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.site-nav {
  height: 100%;
  width: 0;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 55px;
}

.site-nav div {
  padding-left: 1em;
  padding-top: 0.5em;
  display: block;
  line-height: 1.5em;
  text-align: left;
  background-color: #111;
  text-color: #f1f1f1;
  color: white;
}

.site-nav a {
  line-height: 10px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  background-color: #111;
  z-index: 1;
  text-color: #f1f1f1;
}

.site-nav a:hover {
  color: #f1f1f1;
}

// wrapper for header and no-nav main divs
.wrapper {
  padding-left: 1em;
  max-width: 95%;
}
// wrapper for main divs
.inside-wrapper {
  padding-left: 4em;
  max-width: 95%;
}

.aviary-wrapper {
  width: 100%;
  height: 75vh;
}
