---
layout: page
---
{{ content }}


<script
  type="application/javascript"
  src="https://cdn.jsdelivr.net/npm/universalviewer@4.0.22/dist/umd/UV.js"
></script>
<script src="{{ site.baseurl }}/assets/datatables/datatables.min.js"></script>

<div style="float:left; width:45%; margin:10px">
  {%- include player.html player_name="aUV" manifest_name=page.item_a table_id="annotation-table-a" -%}
</div>
<div style="float:right; width:45%; margin:10px">
  {%- include player.html player_name="bUV" manifest_name=page.item_b table_id="annotation-table-b" -%}
</div>

