<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
	    
    {%- include header-nonav.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
	
	<script>
	  const link = document.getElementById("site-nav-toggle");
	  const div = document.getElementById("site-nav-menu");
	  const close = document.getElementById("close-sidebar-icon");
	      
	  link.addEventListener("click", function() {
	  	div.style.width = "250px";
	  });
	  
	  close.addEventListener("click", function() {
	  	div.style.width = "0";
	  });
	</script>
	    
  </body>

</html>